<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style ="background-color: lightcoral;">
    <div>
        <h1>Hello my name is {{ name }}</h1>
    </div>
    <div>
        <p> This is my picture </p>
        <img src="http://about.tarung2017.com/foto/904.jpg" height = "200" width="300"> 
        <article>NPM : {{ npm }}</article>
        <article>I am {{ age }} years old</article>
        <article>My hobby is {{ hobby }}</article>
    </div>
    <div>
    <h2>These are some of my friends</h2>
        <div>
            <h3>This is {{ friend1name }}</h3>
            <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/561108_256713061115472_119150600_n.jpg?_nc_cat=0&oh=6d697dd0a064d023904e5b86a1c21414&oe=5BF27DC9"
            height = "200" width = "300">
            <article> NPM : {{ friend1npm }}</article>
            <article> He is {{ friend1age }} years old </article>
            <article> His hobby is {{friend1hobby}} </article>
        </div>
        <div>
            <h3>This is {{ friend2name }}</h3>
            <img src = "http://about.tarung2017.com/foto/103.jpg" height = "200" width = "300">
            <article> NPM : {{ friend2npm }}</article>
            <article> She is {{friend2age}} years old</article>
            <article> Her hobby is {{ friend2hobby }}</article>
        </div>
    </div>
</body>
</html>
